<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
<!--    <property name="hibernate.show_sql">true</property>-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect
    </property>
 
    <!-- daftar mapping  -->
    
    <mapping class="com.artitraining.mfauz.model.Person"/>
    <mapping class="com.artitraining.mfauz.model.Mutasi"/> 
    <mapping class="com.artitraining.mfauz.model.JenisMutasi"/> 
    <mapping class="com.artitraining.mfauz.model.Nota"/> 
   
  </session-factory>
</hibernate-configuration>
